@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: "맑은 고딕", arial, sans-serif;
    font-size: 12px;
    color: #333;
}

/*상단헤더 서식*/
header {
    width: 100%;
    height: 124px;
    background: #421100;
}

#header_top {
    width: 1200px;
    margin: 0px auto;
}

#header_top h1 {
    width: 1200px;
    margin: 0px auto;
}

header img {
    padding: 14px 0px;
}

ul.lnb {
    margin-left: 840px;
    margin-top: -60px;
    /* transform: translate(840px,-60px); */

}

ul.lnb>li {
    float: left;
}

ul.lnb>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
}

ul.lnb>li>a:hover {
    color: #ffff00;
}


#header_top,
nav {
    height: 60px;
    width: 100%;
    background: #421100;

}

.gnb {
    width: 698px;
    height: 58px;
    margin: 0px auto;
    background: #421100;
}

.gnb>li {
    float: left;
    padding: 0px 28px;
    text-align: center;
    line-height: 60px;
}

.gnb>li>a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}

.gnb>li>a:hover {
    background-color: #ff0000;
    /* padding: 10px; */
    border-radius: 100px;
}


/*메뉴 클릭시 해당 콘텐츠가 올라오면 해당 메뉴에 적용할 서식*/
.on {
    background-color: #ff0000 !important;
    padding: 20px;
    border-radius: 100px;
}

/*        콘텐츠 영역서식*/
section {
    clear: both;
    overflow: hidden;
    background-image: url(../img/bg.jpg);
}

section #visual {
    width: 100%;
    height: 470px;
    background-image: url(../img/h_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    /*부모요소 기준*/
}

#visual img {
    position: absolute;
    opacity: 0;
    /*보이지 않게 숨김*/
}

/*카피문구 이미지*/
#visual img:first-child {
    top: 35%;
    right: 5%;
    width: 700px;
}

/*초콜릿 사진*/
#visual img:last-child {
    width: 400px;
    left: 0%;
    bottom: 20%;
}


/*        비주얼 박스를 제외한 나머지 콘텐츠 서식*/
/*
.sub_con{
    width:940px;
    height:740px;
    margin:30px auto;
    background-color:aqua;   
}
*/
article.sub_con>h3 {
    text-align: center;
    font-size: 48px;
    letter-spacing: 20px;
    padding: 50px 0px 30px 0px;
    font-style: italic;
}

#story img {
    margin-bottom: 10px;
}

#br_01 {
    background-image: url(../img/bg_01.png);
    float: left;
}

#br_02 {
    background-image: url(../img/bg_02.png);
    float: right;
}

#br_03 {
    background-image: url(../img/bg_03.png);
    float: left;
}

#br_04 {
    background-image: url(../img/bg_04.png);
    float: right;
}




#product {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
}


.wrap_img {
    width: 890px;
    margin: 0px auto;
    background-color: #ccc;
    position: relative;
}

.img_sub {
    position: absolute;
    width: 440px;
    height: 356px;
    background: rgba(0, 0, 0, .8);
    border-radius: 7px;
    opacity: 0;
    transition: 0.3s;
}


.story:hover .img_sub {
    opacity: 1;
}


.img_sub>p {
    color: #fff;
    font-size: 14px;
    padding: 28px;
    text-align: justify;
    line-height: 22px;
}

.history_s{position: absolute;top: 180px;}
.sub01 {
    z-index: 100;
}

.sub02 {
    right: 0px;
}

.sub03 {
    top: 365px;
}


.product_wrap {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
}



/*        제품소개*/
article:nth-child(3) {
    width: 1200px;
    margin: 0px auto;
}


article:nth-child(3)>img {}

#product {
    width: 1200px;
    height: 800px;
}

#product li {
    text-align: center;
}

input[type=radio] {
    display: none;
}

#product label {
    font-size: 20px;
    padding: 10px 26px;
    cursor: pointer;
}

.almond01,
.dark02,
.hazelnut03,
.peanut04 {
    display: none;
}


#almond:checked~.almond01 {
    display: block;
}

#dark:checked~.dark02 {
    display: block;
}

#hazelnut:checked~.hazelnut03 {
    display: block;
}

#peanut:checked~.peanut04 {
    display: block;
}

input[type=radio]:checked+label {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 80px;
}




.cfimg_wrap {
    width: 1000px;
    margin: 0px auto;
}

.cfimg_wrap>img {
    width: 300px;
    padding: 15px;
}

.cfimg_wrap>p.more{
    font-size: 20px;
    color:#444;
    font-weight: bold;
    float: right;
padding: 70px;
    position: absolute;

}





article:not(#visual) {
    /*article 영역*/
    width: 1200px;
    margin: 30px auto;
    /* background-color: aqua; */
    height: 940px;

}


/*        푸터영역서식*/
footer {
    width: 100%;
    height: 600px;
    background-color: #222;
    position: relative;
    background: url(../img/f_bg.jpg) 0 0 repeat-x;
    z-index: 20;
}

div.footer_wrap{
    width: 1200px;
    margin: 0px auto;
    position: relative;
}
div.footer_wrap>img{
    position: absolute;
}
div.footer_wrap>.f_logo{
top: 45px;
left: 80px;
}

.f_box01{
    width: 600px;
    height: 400px;
    top: 100px;
    left: 80px;
}
.f_box02{
    width: 400px;
    top: 100px;
    right: 80px;
}
.our_promise{
    top: 120px;
    left: 100px;
}
.marketing{
    top: 120px;
    right: 260px;
}
.t_marketing{
    position: absolute;
    right: 160px !important;
    top: 200px;
    width: 300px;
    color:#fff;
}
footer address {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 400px;
    right: 80px;
}

.footer_wrap>p.promise{
    width: 420px;
    z-index: 1000;
    position: absolute;
    top: 180px;
    left: 110px;
    color:#fff;
    font-size: 11px;
}

.footer_wrap span{
    font-weight: 900;
    color:#333;
}



/*        top버튼 서식*/
footer>a {
    background-color: #421100;
    color: #fff;
    font-size: 20px;
    padding: 12px 10px;
    position: fixed;
    bottom: 90px;
    right: 50px;
    border-radius: 20px;
}



/*헤더 내비게이션 추가 서식*/
.act {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;

}

/*위치 수치*/
.status {
    background-color: #ffff00;
    color: #f00;
    position: fixed;
    right: 30px;
    top: 100px;
    z-index: 7777;
}