@charset "UTF-8";
   *{margin:0px;padding:0px;}
        ol,ul,li{list-style: none;}
        a{text-decoration: none;color:#333;}
        body{
            font-family: "맑은 고딕", arial, sans-serif;
            font-size: 12px;
            color:#333;
        }
        
        
/*        상단헤더 서식*/
        header{
            width:100%;
            height:100px;
            background-color:#421100;
        }
        
        
        header img{
            margin:10px;
            padding-top:10px;
        }
        
        
        #header_top h1{
            width:1200px;
            margin:0px auto;
        }
        
        
        .gnb{
            position: absolute;
            right:0px;
            width:750px;
            margin:0px auto;
            margin-top: -50px;
            text-align: right;
            padding:0px 380px;
        }
        
        
        .gnb>li{
            float:left;
            padding:0px 20px;
            text-align: center;
        }
        
        
        .gnb>li>a{
            color:#fff;
            padding:12px;
            font-size: 18px;
            font-weight: bold;
        }
        
        
        .gnb>li>a:hover{
            background-color:#ff0000;
            border-radius: 100px;
        }
        
        
        .on{
            background-color:#ff0000 !important;
            border-radius: 100px;
        }
        
        
/*        콘텐츠 영역 서식*/
        section{
            clear: both;
            overflow: hidden;
            background-image: url(../img/bg.jpg);
        }
        
        article{width:1200px;}
        
        section .visual{
            width:100%;
            height:410px;
            background-image:url(../img/h_bg.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            position:relative;/*부모요소 기준*/
        }
        
        
        /*초콜릿 이미지*/
        section>article>img:first-child{
            width:800px;
            top:50px;
            left:0px;
        }
        
        /*텍스트 이미지*/
        section>article>img:last-child{
            width:300px;
            height:30px;
            top:50px;
            right:350px;
        }
        
        
        .visual img{
            position:absolute;
            opacity:0;
        }
        
        
        article:nth-child(2){
/*            background-image: url(./img/bg.jpg);*/
            
            
            background-size:100%;
            height: 300px;
            text-align: center;
        }
        
        
        article.sub_con.story>img{
            width:1200px;
            height: 300px;
            display: inline-block;
        }
        #brand_story{
            width:1200px;
            height: 900px;
            margin: 0px auto;
        }
        #brand_story > img{
            width:460px;
            height: 360px;
        }
        #brand_story>h3>img{padding:20px;}
        
        #brand_story >img:nth-child(2n+1){
            float:left;
        }
        #brand_story img:nth-child(2n){
            float:right;
        }
        #brand_story>h3{text-align: left;}
        #brand_story>h3>img{display: inline-block;}
        
        #br_01{background-image:url(../img/bg_01.png);}
        #br_02{background-image: url(../img/bg_02.png);}
        #br_03{background-image: url(../img/bg_03.png);}
        #br_04{background-image: url(../img/bg_04.png);}
        
        #product{
            width:1200px;
            margin:0px auto;
        }
        
        
        .wrap_img{
            width: 890px;
            margin: 0px auto;
            background-color:#ccc;
        }
        .product_wrap{
            width:1200px;
            margin:0px auto;
            text-align: center;
        }
        
        
        
/*        제품소개*/
        article:nth-child(3){
            width:1200px;
            margin:0px auto;
        }
        
        
        article:nth-child(3)>img{ 
        }
        
        #product{
            width:1200px;
            height: 800px;
        }
        #product li{text-align: center;}
        
        input[type=radio]{display: none;}
        
        #product label{
            font-size: 20px;
            padding:20px;
            cursor: pointer;
        }
        
        .almond01, .dark02, .hazelnut03, .peanut04{
            display: none;
        }
        
        
        #almond:checked ~ .almond01{display:block;}
        #dark:checked ~ .dark02{display:block;}
        #hazelnut:checked ~ .hazelnut03{display:block;}
        #peanut:checked ~ .peanut04{display:block;}
        
        
        
        #cf{
            clear: both;
            width:100%;
            height: 500px;
            background-color:#000;
            text-align: center;
        }


        #cf > div{
            width:1200px;
            margin: 0px auto;
        }

        
        #news{
            width:1200px;
            margin:0px auto;
        }

        article>h3{
            color:#5b503c;
            font-weight: bold;
            font-size: 24px;
            padding:10px;
        }
        
        article>div>h3{
            color:#ffffff;
            font-weight: bold;
            font-size: 20px;
            padding:10px;
        }
        
        
        #news img{
            width:1200px;
            height: 320px;
        }
        
        /*        푸터영역서식*/
        footer{
            width:100%;
            height:80px;
            background-image: url(../img/f_bg.png);
            padding:30px;
        }
        
        
        footer address{
            font-style: normal;
            color:#fff;
            text-align: center;
            line-height: 80px;
        }
        
        
        
/*        top버튼 서식*/
        footer > a{
            background-color: #421100;
            color:#fff;
            font-size: 20px;
            padding:12px 10px;
            position:fixed;
            bottom:90px;
            right:50px;
            border-radius: 30%;
        }
        
    
        
/*헤더 내비게이션 추가 서식*/
        .act{
            width:100%;
            position:fixed;
            top:0px;
            left:0px;
            z-index: 1000;
        }
        
        .status{
            background-color:#ffff00;
            color:#f00;
            position:fixed;
            right:30px;
            top:100px;
            z-index: 7777;
        }
        
        
        
/*        h3{display: none;}*/
        
        
        iframe{
            display: inline-block;
            margin: 0px auto;
            width:856px;
            height:438px;
            text-align: center;
        }
        

        #news figure img{
            width: 300px;
            height: 200px;
            float: left;
        }

        #news figure figcaption{
            float: left;
        }